<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" style="background: #fff !important" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
 <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
 <meta content="width=device-width" name="viewport"/>
 <title>Приглашение на мероприятие</title>
 <style>
 @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap);

 [x-apple-data-detectors] {
 color: inherit !important;
 text-decoration: none !important;
 }

 .custom-list li::marker {
 font-size: 12px;
 }
 * {
 word-break: keep-all!important;
 -moz-hyphens: none!important;
 -ms-hyphens: none!important;
 -webkit-hyphens: none!important;
 hyphens: none!important;
 mso-hyphenate: none;
 }

 @media only screen {
 html {
 min-height: 100%;
 background: #f3f3f3;
 }
 }

 @media only screen and (max-width: 599px) {
 .small-float-center {
 margin: 0 auto !important;
 float: none !important;
 text-align: center !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .d-block {
 max-width: 300px;
 margin-left: auto;
 margin-right: auto;
 }

 .hide-for-large {
 display: block !important;
 width: auto !important;
 overflow: visible !important;
 max-height: none !important;
 font-size: inherit !important;
 line-height: inherit !important;
 }
 }

 @media only screen and (max-width: 400px) {
 .d-block {
 max-width: 250px;
 margin-left: auto;
 margin-right: auto;
 }
 }

 @media only screen and (max-width: 599px) {
 table.body table.container .hide-for-large {
 display: table !important;
 width: 100% !important;
 }
 }

 @media only screen and (max-width: 599px) {
 table.body table.container .show-for-large {
 display: none !important;
 width: 0;
 mso-hide: all;
 overflow: hidden;
 }
 }
 
 @media (prefers-color-scheme: dark){
 .footer{
 background-color: #171717!important;
 }

 .footer .container {
 background-color: #171717!important;
 }
 }

 @media only screen and (max-width: 599px) {
 table.body img {
 width: auto;
 height: auto;
 }

 table.body center {
 min-width: 0 !important;
 }

 table.body .container {
 width: 100% !important;
 }

 table.body .columns {
 height: auto !important;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 padding-left: 16px !important;
 padding-right: 16px !important;
 }

 table.body .collapse>tbody>tr>.columns {
 padding-left: 0 !important;
 padding-right: 0 !important;
 }

 th.small-4 {
 display: inline-block !important;
 width: 33.333333% !important;
 }

 th.small-6 {
 display: inline-block !important;
 width: 50% !important;
 }

 th.small-8 {
 display: inline-block !important;
 width: 66.666666% !important;
 }

 th.small-12 {
 display: inline-block !important;
 width: 100% !important;
 }

 .columns th.small-12 {
 display: block !important;
 width: 100% !important;
 }

 table.menu {
 width: 100% !important;
 }

 table.menu td,
 table.menu th {
 width: auto !important;
 display: inline-block !important;
 }

 table.menu.vertical td,
 table.menu.vertical th {
 display: block !important;
 }

 table.menu[align="center"] {
 width: auto !important;
 }

 th.callout-inner {
 padding: 10px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .main .column-content {
 width: auto !important;
 max-width: 100% !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .main-text .column-content {
 width: auto !important;
 max-width: 100% !important;
 padding: 16px !important;
 }
 }

 @media only screen and (max-width: 340px) {
 .btn-fix {
 width: 100% !important;
 max-width: 100%;
 width: 100% !important;
 }
 }

 @media only screen and (max-width: 340px) {
 .btn-fix a {
 width: 100% !important;
 max-width: 100%;
 text-align: center !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .logo {
 width: 190px !important;
 max-width: 190px !important;
 height: 32px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .body .logo--sm {
 width: 140px !important;
 height: auto !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .offer {
 width: 176px !important;
 max-width: 176px;
 }
 }

 @media only screen and (max-width: 599px) {
 .offer-second {
 width: 288px !important;
 max-width: 288px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .onboarding-image {
 width: 100% !important;
 max-width: 100% !important;
 height: auto !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .onboarding-title {
 font-size: 18px;
 }
 }

 @media only screen and (max-width: 599px) {
 .onboarding-title-second {
 font-size: 18px;
 }
 }

 @media only screen and (max-width: 599px) {
 .fsz-12 {
 font-size: 11px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .logo-link:first-child {
 margin-right: 16px !important;
 width: 116px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .logo-link:last-child {
 width: 130px;
 }
 }

 @media only screen and (max-width: 599px) {
 .title {
 font-size: 15px !important;
 color: #e20177 !important;
 font-weight: 700 !important;
 margin-bottom: 0 !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .circles {
 width: 240px !important;
 height: auto !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .circles-second {
 width: auto !important;
 height: auto !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .spacer-xs-32 td {
 font-size: 32px !important;
 line-height: 32px !important;
 height: 32px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .spacer-xs-2 td {
 font-size: 2px !important;
 line-height: 2px !important;
 height: 2px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .spacer-xs-20 td {
 font-size: 20px !important;
 line-height: 20px !important;
 height: 20px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 * {
 box-sizing: border-box !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .logo-footer {
 width: 144px;
 height: 22px;
 }
 }

 @media only screen and (max-width: 599px) {
 .text-first {
 font-size: 14px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .text-second {
 font-size: 10px !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .cycle-header {
 width: 98px;
 height: auto;
 }
 }

 @media only screen and (max-width: 599px) {
 .drug-image {
 width: auto !important;
 max-width: 100% !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .pr-crutch-20 {
 padding-right: 0 !important;
 }
 }

 @media only screen and (max-width: 599px) {
 .br-desktop {
 display: none;
 }
 }

 @media only screen and (max-width: 599px) {
 .img-btn {
 max-width: 100% !important;
 }
 }
 </style>
</head>

<body style="-moz-box-sizing: border-box;
 -ms-text-size-adjust: 100%;
 -webkit-box-sizing: border-box;
 -webkit-text-size-adjust: 100%;
 margin: 0;
 background: #fff !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 1.5;
 margin: 0;
 min-width: 100%;
 padding: 0;
 text-align: left;
 width: 100% !important;">
 <span style="color: #f3f3f3;
 display: none !important;
 font-size: 1px;
 line-height: 1px;
 max-height: 0;
 max-width: 0;
 mso-hide: all !important;
 opacity: 0;
 overflow: hidden;
 visibility: hidden;" class="preheader"></span>
 <table style="margin: 0;
 background: #fff !important;
 border-collapse: collapse;
 border-spacing: 0;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 height: 100%;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="body">
 <tr style="padding: 0; text-align: left; vertical-align: top">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" class="center" valign="top" align="center">
 <center style="width: 100%">
 <table style="margin: 0 auto;
 background: #fff;
 border-collapse: collapse;
 border-spacing: 0;
 float: none;
 margin: 0 auto;
 padding: 0;
 text-align: center;
 vertical-align: top;
 width: 602px;" class="float-center container main-container" align="center">
 <tbody>
 <tr style="padding: 0; text-align: left; vertical-align: top">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;">
 <table style="border-collapse:collapse;border-spacing:0;box-sizing:border-box!important;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
  <tbody>
      <tr style="padding:0;text-align:left;vertical-align:top">
          <td>
              <img src="https://organonpro.com/ru-ru/wp-content/uploads/sites/40/2025/02/CTPbanner.png" alt="Organon PRO" width="600" style="-ms-interpolation-mode: bicubic;border: 0; clear: both; display: block; height: auto; max-width: 100%; outline: 0; text-decoration: none; width: 100%" />
          </td>
      </tr>
  </tbody>
</table>
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="spacer">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 36px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 36px;
 margin: 0;
 mso-line-height-rule: exactly;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" height="36">
  
 </td>
 </tr>
 </tbody>
 </table>
 <table style="border-collapse: collapse;
 border-spacing: 0;
 box-sizing: border-box !important;
 display: table;
 padding: 0;
 position: relative;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="row">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0 auto;
 border-collapse: collapse !important;
 box-sizing: border-box !important;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0 auto;
 padding: 0;
 padding-bottom: 16px;
 padding-left: 16px;
 padding-right: 16px;
 text-align: left;
 vertical-align: top;
 width: 584px;
 word-wrap: break-word;" class="columns first small-12 large-12 last">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 22px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.35;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;">
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 22px;
 font-weight: 400;
 line-height: 1.35;
 margin: 0;
 margin-bottom: 16px;
 padding: 0;
 text-align: left;" class="fsz-15 mb-16">
 <strong>
  {{customText[Уважаемая|Уважаемый]}}<br>{{accFname}} {{Account.Middle_vod__c}}!</strong>
 </p>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 1.6;
 margin: 0;
 margin-bottom: 24px;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-24">Согласно инструкции по медицинскому применению лекарственного препарата Импланон НКСТ<sup style="font-size: 75%;line-height: 1;">®</sup>, врачу-гинекологу перед назначением этоногестрел-содержащего подкожного контрацептивного имплантата настоятельно рекомендуется принять участие в обучающей сессии, чтобы ознакомиться с применением аппликатора препарата, техникой введения и удаления имплантата.<sup style="font-size: 75%;line-height: 1;">1</sup></p>
 <p style="margin: 0;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 1.6;
 margin: 0;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-24">
 В соответствии с данной рекомендацией мы приглашаем Вас принять участие в мастер-классе <strong>«Программа клинической подготовки по введению и удалению подкожного контрацептивного имплантата»</strong>, посвященном клиническому обучению технике введения и удаления подкожного контрацептивного имплантата, методам визуализации и вопросам, связанным с консультированием пациентов.</p>
 </th>
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0 !important;
 text-align: left;
 vertical-align: top;
 visibility: hidden;
 width: 0;
 word-wrap: break-word;" class="expander"></th>
 </tr>
 </tbody>
 </table>
 </th>
 </tr>
 </tbody>
 </table>
 
 <table style="border-collapse: collapse;
 border-spacing: 0;
 box-sizing: border-box !important;
 display: table;
 padding: 0;
 position: relative;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="row">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0 auto;
 border-collapse: collapse !important;
 box-sizing: border-box !important;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0 auto;
 padding: 0;
 padding-left: 16px;
 padding-right: 16px;
 text-align: left;
 vertical-align: top;
 width: 584px;
 word-wrap: break-word;" class="columns first small-12 large-12 last">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;">
 <div class="event-card" style="border: 1px solid #f3f3f3;
 border-radius: 8px;
 box-shadow: 0 0 16px
 rgba(23, 23, 23, 0.1);
 padding: 16px 20px 0 16px;">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 box-sizing: border-box !important;
 display: table;
 padding: 0;
 position: relative;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="row">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0 auto;
 border-collapse: collapse !important;
 box-sizing: border-box !important;
 color: #171717;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0 auto;
 padding: 0;
 padding-bottom: 16px;
 padding-left: 0 !important;
 padding-right: 0 !important;
 text-align: left;
 vertical-align: top;
 width: 41.666666%;
 word-wrap: break-word;" class="columns first small-12 large-5">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;">
 <center style="width: 100%">
 <img src="https://organonpro.com/ru-ru/wp-content/uploads/sites/40/2025/02/CTP-image1102.png" style="-ms-interpolation-mode: bicubic;
 margin: 0 auto;
 clear: both;
 display: block;
 object-fit: cover;
 float: none;
 margin: 0 auto;
 max-width: 100%;
 outline: 0;
 text-align: center;
 text-decoration: none;
 width: auto;" width="160" class="float-center show-for-large" height="208" align="center"/><!--[if !mso]><!-->
 <div class="float-center hide-for-large" style="display: none;
 font-size: 0;
 line-height: 0;
 max-height: 0;
 mso-hide: all;
 overflow: hidden;
 width: 0;" align="center">
 <img src="https://organonpro.com/ru-ru/wp-content/uploads/sites/40/2025/02/CTP-image1102.png" style="-ms-interpolation-mode: bicubic;
 clear: both;
 display: block;
 height: auto;
 mso-hide: all;
 outline: 0;
 object-fit: cover;
 text-decoration: none;
 width: 160px;" width="160"/>
 </div>
 <!--<![endif]-->
 </center>
 </th>
 </tr>
 </tbody>
 </table>
 </th>
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0 auto;
 border-collapse: collapse !important;
 box-sizing: border-box !important;
 color: #171717;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0 auto;
 padding: 0;
 padding-bottom: 16px;
 padding-left: 0 !important;
 padding-right: 0 !important;
 text-align: left;
 vertical-align: top;
 width: 58.333333%;
 word-wrap: break-word;" class="columns last small-12 large-7">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;">
 <div class="pr-crutch-20" style="padding-right: 15px;">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="spacer">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana,
 Helvetica,
 Arial,
 sans-serif;
 font-size: 24px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 24px;
 margin: 0;
 mso-line-height-rule: exactly;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" height="24">
  
 </td>
 </tr>
 </tbody>
 </table>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #171717;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 font-size: 18px;
 font-weight: 700;
 line-height: 23px;
 margin: 0;
 margin-bottom: 14px;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-24 fsz-13">
 Приглашаем Вас посетить мастер-класс, который&nbsp;состоится
 </p>
 <p style="
 color: #171717;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 18px;
 margin: 0;
 margin-bottom: 14px;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-24 fsz-13">
 <strong style="color: #e20177;" class="accent-color">Когда:</strong> <%= date %> в <%= time %>
 </p>
 <p style="
 color: #171717;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 18px;
 margin: 0;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-24 fsz-13">
 <strong style="color: #e20177;" class="accent-color">Где:</strong> <%= address %>
 </p>
 </div>
 </th>
 </tr>
 </tbody>
 </table>
 </th>
 </tr>
 </tbody>
 </table>
 </div>
 </th>
 </tr>
 </tbody>
 </table>
 </th>
 </tr>
 </tbody>
 </table>
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="spacer">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 16px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 16px;
 margin: 0;
 mso-line-height-rule: exactly;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" height="16">
  
 </td>
 </tr>
 </tbody>
 </table>

 <table style="border-collapse: collapse;
 border-spacing: 0;
 box-sizing: border-box !important;
 display: table;
 padding: 0;
 position: relative;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="row">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0 auto;
 border-collapse: collapse !important;
 box-sizing: border-box !important;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0 auto;
 padding: 0;
 padding-bottom: 16px;
 padding-left: 16px;
 padding-right: 16px;
 text-align: left;
 vertical-align: top;
 width: 584px;
 word-wrap: break-word;" class="columns first small-12 large-12 last">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 22px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.35;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;">
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 1.6;
 margin: 0;
 margin-bottom: 16px;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-24">Мастер-класс проведет <strong><%= speaker %></strong>, <%= gender %> обширный опыт клинической практики применения подкожного контрацептивного имплантата.</p>
 <table style="border-collapse:collapse;border-spacing:0;box-sizing:border-box!important;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
  <tbody>
      <tr style="padding:0;text-align:left;vertical-align:top">
          <td>
              <img src="https://organonpro.com/ru-ru/wp-content/uploads/sites/40/2025/02/line-pink.png" width="600" height="20" style="-ms-interpolation-mode: bicubic;border: 0; clear: both; display: block; height: 20px; max-width: 100%; outline: 0; text-decoration: none; width: 100%">
          </td>
      </tr>
  </tbody>
</table>
 <p style="margin: 0;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 1.6;
 margin: 0;
 margin-top: 16px;
 margin-bottom: 24px;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-24">Данные обучающие мероприятия предназначены только для специалистов здравоохранения, которые уполномочены назначать и применять препарат Импланон НКСТ<sup style="font-size: 75%;line-height: 1;">®</sup> и хотели бы пройти обучение технике введения, замены и удаления подкожного контрацептивного имплантата.</p>
 <p style="margin: 0;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 1.6;
 margin: 0;
 margin-bottom: 16px;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-24">Если у Вас есть вопросы о мероприятии, пожалуйста, свяжитесь с представителем компании Органон или с сотрудником медицинского отдела
 <a href="mailto:ctprussia@organon.com" style="-moz-hyphens: none; mso-hyphenate: none;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: default;
 color: #E20177;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.6;
 margin: default;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;
 text-decoration: underline;
 white-space: nowrap !important;">ctprussia@organon.com</a></p>
 <table style="border-collapse:collapse;border-spacing:0;box-sizing:border-box!important;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
  <tbody>
      <tr style="padding:0;text-align:left;vertical-align:top">
          <td>
              <img src="https://organonpro.com/ru-ru/wp-content/uploads/sites/40/2025/02/line-pink.png" width="600" height="20" style="-ms-interpolation-mode: bicubic;border: 0; clear: both; display: block; height: 20px; max-width: 100%; outline: 0; text-decoration: none; width: 100%">
          </td>
      </tr>
  </tbody>
</table>
<p style="margin: 0;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 9px;
 font-style: italic;
 font-weight: 400;
 line-height: 14px;
 margin: 0;
 margin-top: 16px;
 margin-bottom: 16px;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-24">Обратите внимание, что для прохождения обучения компания Органон обрабатывает ваши персональные данные (фамилия, имя, отчество, специализация, место и город работы, адрес электронной почты, телефон). Более подробно узнать о том, как ООО Органон обрабатывает ваши данные вы можете сайте
 <a href="https://www.organon.com/russia/" style="-moz-hyphens: none; mso-hyphenate: none;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: default;
 color: #E20177;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.6;
 font-style: italic;
 margin: default;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;
 text-decoration: underline;
 white-space: nowrap !important;">www.organon.com/russia.</a> Вы можете отозвать свое согласие, направив соответствующий запрос на адрес  <a href="mailto:rudataprivacy@organon.com" style="-moz-hyphens: none; mso-hyphenate: none;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: default;
 color: #E20177;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.6;
 font-style: italic;
 margin: default;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;
 text-decoration: underline;
 white-space: nowrap !important;">rudataprivacy@organon.com</a>, однако это может затруднить проведение обучения по Программе клинической подготовки по введению и удалению подкожного контрацептивного имплантата.<br>
 <br>1. Инструкция по медицинскому применению лекарственного препарата Импланон НКСТ<sup style="font-size: 75%;line-height: 1;">®</sup></p>
 </th>
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0 !important;
 text-align: left;
 vertical-align: top;
 visibility: hidden;
 width: 0;
 word-wrap: break-word;" class="expander"></th>
 </tr>
 </tbody>
 </table>
 </th>
 </tr>
 </tbody>
 </table>
 
 <table style="border-collapse: collapse;
 border-spacing: 0;
 box-sizing: border-box !important;
 display: table;
 padding: 0;
 position: relative;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="row">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0 auto;
 border-collapse: collapse !important;
 box-sizing: border-box !important;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0 auto;
 padding: 0;
 padding-left: 16px;
 padding-right: 16px;
 text-align: left;
 vertical-align: top;
 width: 584px;
 word-wrap: break-word;" class="columns first small-12 large-12 last">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;">
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 24px;
 margin: 0;
 padding: 0;
 text-align: left;">
 С уважением,<br/>{{userName}}<br/>{{User.Phone}}<br/>{{userEmailAddress}}
 </p>
 </th>
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0 !important;
 text-align: left;
 vertical-align: top;
 visibility: hidden;
 width: 0;
 word-wrap: break-word;" class="expander"></th>
 </tr>
 </tbody>
 </table>
 </th>
 </tr>
 </tbody>
 </table>
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="spacer">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 6px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 30px;
 margin: 0;
 mso-line-height-rule: exactly;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" height="30">
  
 </td>
 </tr>
 </tbody>
 </table>
 <img src="https://vip-organon-connect-com.go-vip.net/ru-ru/wp-content/uploads/sites/40/2023/04/circles.png" style="-ms-interpolation-mode: bicubic;
 clear: both;
 display: block;
 height: auto;
 max-width: 100%;
 outline: 0;
 text-decoration: none;
 width: 400px;" class="circles"/>
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="spacer">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 30px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 30px;
 margin: 0;
 mso-line-height-rule: exactly;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" height="30">
  
 </td>
 </tr>
 </tbody>
 </table>
 </td>
 </tr>
 </tbody>
 </table>
 <table style="margin: 0 auto;
 background: #171717;
 border-collapse: collapse;
 border-spacing: 0;
 float: none;
 margin: 0 auto;
 padding: 0;
 text-align: center;
 vertical-align: top;
 width: 100%;" class="float-center footer wrapper" align="center">
 <tbody>
 <tr style="padding: 0; text-align: left; vertical-align: top">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" class="wrapper-inner">
 <table style="margin: 0 auto;
 background: #171717;
 border-collapse: collapse;
 border-spacing: 0;
 color: #fff;
 margin: 0 auto;
 padding: 0;
 text-align: inherit;
 vertical-align: top;
 width: 600px;" class="container" align="center">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 box-sizing: border-box !important;
 display: table;
 padding: 0;
 position: relative;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="row">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0 auto;
 border-collapse: collapse !important;
 box-sizing: border-box !important;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0 auto;
 padding: 0;
 padding-bottom: 16px;
 padding-left: 16px;
 padding-right: 8px;
 text-align: left;
 vertical-align: top;
 width: 34px;
 word-wrap: break-word;" class="columns first large-1 show-for-large small-0">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;"></th>
 </tr>
 </tbody>
 </table>
 </th>
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0 auto;
 border-collapse: collapse !important;
 box-sizing: border-box !important;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0 auto;
 padding: 0;
 padding-bottom: 16px;
 padding-left: 8px;
 padding-right: 8px;
 text-align: left;
 vertical-align: top;
 width: 484px;
 word-wrap: break-word;" class="columns large-10 small-12">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="spacer spacer-xs-32">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 font-size: 50px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 50px;
 margin: 0;
 mso-line-height-rule: exactly;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" height="50">
  
 </td>
 </tr>
 </tbody>
 </table>
 <img src="https://organonpro.com/ru-ru/wp-content/uploads/sites/40/2025/02/organon-pro-logo-new.png" style="-ms-interpolation-mode: bicubic;
 clear: both;
 display: block;
 height: auto;
 max-width: 100%;
 outline: 0;
 text-decoration: none;
 width: 251px;" width="251" class="logo-footer"/>
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="spacer">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 font-size: 35px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 35px;
 margin: 0;
 mso-line-height-rule: exactly;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" height="35">
  
 </td>
 </tr>
 </tbody>
 </table>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 margin: 0;
 margin-bottom: 20px;
 padding: 0;
 text-align: left;" class="mb-20">
 Вы получили это письмо, потому что дали согласие на получение сообщений о новых онлайн ресурсах и научно обоснованном применении препаратов ООО «Органон». Вы можете отозвать свое согласие на получение сообщений в любой момент, направив заявление об этом по эл.почте 
 <a href="mailto:ru_organonpro@organon.com" style="-moz-hyphens: none; mso-hyphenate: none;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: default;
 color: #fff;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: default;
 padding: 0;
 text-align: left;
 text-decoration: underline;
 white-space: normal !important;" class="link-fix"><strong style="font-family: Verdana,
 Helvetica, Arial,
 sans-serif;">ru_organonpro@organon.com</strong></a>
 </p>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 margin: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 margin-bottom: 20px;
 padding: 0;
 text-align: left;" class="mb-20">
 Информация в этом электронном
 письме предназначена исключительно
 для специалистов здравоохранения,
 практикующих на территории РФ, и
 не должна быть копирована или
 передана кому-либо, кроме
 получателя данного письма.
 </p>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 margin: 0;
 margin-bottom: 20px;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 padding: 0;
 text-align: left;" class="mb-20">
 Если Вы сообщаете о нежелательном
 явлении или претензии к качеству
 продукции, пожалуйста, отправьте
 данную информацию на электронный
 адрес
 <a href="mailto:dpoc.russia@organon.com" style="-moz-hyphens: none; mso-hyphenate: none;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: default;
 color: #fff;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: default;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;
 text-decoration: underline;
 white-space: nowrap !important;"><strong style="font-family: Verdana,
 Helvetica, Arial,
 sans-serif;">dpoc.russia@organon.com</strong></a>
 или позвоните по номеру
 <a href="tel:+7 (495) 411-58-85" style="-moz-hyphens: none; mso-hyphenate: none;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: default;
 color: #fff;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-weight: 700;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: default;
 padding: 0;
 text-align: left;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-decoration: underline;
 white-space: nowrap !important;"><strong style="font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 color:#fff;
 font-weight: 700;">+7 (495) 411-58-85</strong></a>, в
 течение одного (1) рабочего дня с
 момента получения.
 </p>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 margin: 0;
 margin-bottom: 20px;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 padding: 0;
 text-align: left;" class="mb-20">
 &copy; 2025 ООО «Органон». Все права
 защищены.<br/>Россия, 119021,
 Москва, ул. Тимура Фрунзе, д. 11,
 стр. 13
 </p>
 <div>
 <a href="tel:+74954115858" style="display: block;
 text-decoration: none;
 margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 margin: 0;
 margin-bottom: 0px;
 padding: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 text-align: left;" class="mb-20">Тел.:
 <strong style="color: #fff;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 text-decoration: underline;" class="color-white">+7 (495) 411 58 58</strong></a>
 </div>
 <div></div>
 <div>
 <a href="tel:+74954115859" style="display: block;
 text-decoration: none;
 margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 margin: 0;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 padding: 0;
 text-align: left;" class="mb-20">Факс.:
 <strong style="color: #fff;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 text-decoration: underline;" class="color-white">+7 (495) 411 58 59</strong></a>
 </div>
 <p style="margin: 0;
 margin-top: 20px;
 color: #868686;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 padding: 0;
 text-align: left;" class="mb-0">
 Реклама
 </p>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 margin: 0;
 margin-bottom: 0 !important;
 padding: 0;
 text-align: left;" class="mb-0">
 <a href="https://www.organon.com/" style="-moz-hyphens: none; mso-hyphenate: none;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: default;
 color: #fff;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: default;
 padding: 0;
 text-align: left;
 text-decoration: underline;
 white-space: nowrap !important;" target="_blank"><strong style="font-family: Verdana,
 Helvetica, Arial,
 sans-serif;">www.organon.com</strong></a>
 </p>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 margin: 0;
 margin-bottom: 0 !important;
 padding: 0;
 text-align: left;" class="mb-0">
 <a href="https://organonpro.com/ru-ru/" style="-moz-hyphens: none; mso-hyphenate: none;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: default;
 color: #fff;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-weight: 400;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: default;
 padding: 0;
 text-align: left;
 text-decoration: underline;
 white-space: nowrap !important;" target="_blank"><strong style="font-family: Verdana,
 Helvetica, Arial,
 sans-serif;">www.organonpro.com</strong></a>
 </p>
 <!-- <p class="mb-0"><a target="_blank" href="https://www.organonmed.ru/"><strong>www.organonmed.ru</strong></a></p> -->
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 margin-bottom: 0 !important;
 padding: 0;
 text-align: left;" class="mb-0">
 <a href="https://organonpro.com/ru-ru/personal-data/" style="-moz-hyphens: none; mso-hyphenate: none;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: default;
 color: #fff;
 font-family: Verdana,
 Helvetica, Arial, sans-serif;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: default;
 word-break: keep-all;
 hyphens: none; mso-hyphenate: none;
 padding: 0;
 text-align: left;
 text-decoration: underline;
 white-space: normal !important;" class="link-fix" target="_blank"><strong style="font-family: Verdana,
 Helvetica, Arial,
 sans-serif;">Политика в отношении
 обработки персональных
 данных</strong></a>
 </p>
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="spacer">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana,
 Helvetica, Arial,
 sans-serif;
 font-size: 24px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 24px;
 margin: 0;
 mso-line-height-rule: exactly;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" height="24">
  
 </td>
 </tr>
 </tbody>
 </table>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 11px;
 font-weight: 400;
 line-height: 1.5;
 margin: 0;
 margin-bottom: 10px;
 padding: 0;
 text-align: left;">
 <strong style="font-family: Verdana,
 Helvetica, Arial, sans-serif;">WHCON-FM-0036-RU; 01-2025</strong>
 </p>
 </th>
 </tr>
 </tbody>
 </table>
 </th>
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0 auto;
 border-collapse: collapse !important;
 box-sizing: border-box !important;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0 auto;
 padding: 0;
 padding-bottom: 16px;
 padding-left: 8px;
 padding-right: 16px;
 text-align: left;
 vertical-align: top;
 width: 34px;
 word-wrap: break-word;" class="columns last large-1 show-for-large small-0">
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <th style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica,
 Arial, sans-serif;
 font-size: 15px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 1.5;
 margin: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;"></th>
 </tr>
 </tbody>
 </table>
 </th>
 </tr>
 </tbody>
 </table>
 <table style="border-collapse: collapse;
 border-spacing: 0;
 padding: 0;
 text-align: left;
 vertical-align: top;
 width: 100%;" class="spacer spacer-xs-32">
 <tbody>
 <tr style="padding: 0;
 text-align: left;
 vertical-align: top;">
 <td style="-moz-box-sizing: border-box;
 -moz-hyphens: none; mso-hyphenate: none;
 -webkit-box-sizing: border-box;
 -webkit-hyphens: none; mso-hyphenate: none;
 margin: 0;
 border-collapse: collapse !important;
 box-sizing: border-box;
 color: #171717;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 10px;
 font-weight: 400;
 hyphens: none; mso-hyphenate: none;
 line-height: 10px;
 margin: 0;
 mso-line-height-rule: exactly;
 padding: 0;
 text-align: left;
 vertical-align: top;
 word-wrap: break-word;" height="10">
  
 </td>
 </tr>
 </tbody>
 </table>
 <p style="margin: 0;
 margin-bottom: 10px;
 color: #868686;
 font-family: Verdana, Helvetica, Arial,
 sans-serif;
 font-size: 12px;
 font-weight: 400;
 line-height: 1.5;
 margin: 0;
 margin-bottom: 10px;
 padding: 0;
 text-align: left;"></p>
 </td>
 </tr>
 </tbody>
 </table>
 </td>
 </tr>
 </tbody>
 </table>
 </center>
 </td>
 </tr>
 </table>
 <!-- prevent Gmail on iOS font size manipulation -->
 <div style="display: none;
 white-space: nowrap;
 font: 15px courier;
 line-height: 0;">
                    
                    
                    
 </div>
</body>

</html>